useDynLib(ThreadingExample, .registration=TRUE)

# c++ code
import(RcppThread)
importFrom(Rcpp, evalCpp)

# paralellized code
importFrom(parallelly, availableCores)

# error messages
import(cli)

exportPattern("^[[:alpha:]]+")

